{
  "addresses": prompt("Email Address", addresses),
  "name": prompt("Real Name", name),
  "origin": prompt("Origin URL", origin),
  "hash": hash,
  "public": public,
  "algorithm": algorithm,
  "urls": urls,
  "signatures": []
}

