{
  "addresses": prompt("Email Address"),
  "name": prompt("Real Name"),
  "npm-repository": prompt("npm repository (optional)", "http://registry.npmjs.org/"),
  "public": prompt("Public Key Path", "Auto-Generate"),
  "private": prompt("Private Key Path", "Auto-Generate")
}
